@font-face {
  font-family: 'Gotham';
  src: url('@/assets/fonts/Gotham_Condensed/GothamCond-Bold.woff')
    format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'Gotham';
  src: url('@/assets/fonts/GothamHTF-MediumCondensed.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@/assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
}
