:root {
  --font-size: 16px;
  --app-width: 1920px;
  --app-height: 1080px;
  --show_red_outline: 0px;
  --letters_countdown_time: 2s;
  --badge-in-duration: 1000ms;
  --default-tr-speed: 400ms;
  --cyan: #d5f2fa;
  --red: #f48e6c;
  --orange: #fcc472;
  --pink: #ed6587;
  --burgundy: #640019;
  --beige: #c79f77;
  --brown: #67390b;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html.a-fullscreen {
  position: unset !important;
}
html.a-fullscreen body {
  overflow: auto;
}
body {
  /* cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7),
    auto !important; */
  margin: 0;
  font-size: var(--font-size);
  font-family: 'Neulis';

  font-weight: 800;
  line-height: 1.1em;
  /* overflow: hidden; */
  background: #444;
  color: #000;
}
#main {
  margin: 50px;
}

.frame {
  // box-sizing: margin-box;
  background-color: var(--red);
  width: 88%;
  height: 78%;
  left: 6%;
  top: 80px;
  // height: $height;

  border-radius: 40px;
  position: absolute;
  z-index: -1;
}

.bulle {
  border-radius: 30px;
  font-weight: 400;
  font-size: 0.8em;
  position: absolute;
  left: 10%;
  top: 20%;
  min-width: 300px;
  min-height: 300px;
  max-width: 1200px;
  max-height: 900px;
  @include bordered;
  background: white;
  padding: 50px 60px 60px 60px;
  &:after {
    content: '';
    width: 0;
    height: 0;
    right: -120px;
    top: 60%;
    position: absolute;
    border-bottom: 100px solid white;
    border-right: 150px solid transparent;
    filter: drop-shadow(4px 1px 0 black);
  }
}

ul {
  list-style-type: none;
}

h1,
h4 {
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  font-size: 100%;
}
h1 {
  font-size: 100%;
}
h4 {
  font-weight: normal;
}
.close,
.button,
.btn {
  /* float: right; */
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:active,
a:visited {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.center {
  width: 100%;
  text-align: center;
}
.center .button {
  margin-top: 30px;
}
.alt-font {
  font-family: 'Karma';
  font-weight: bold;
}

.black {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background-color: black;
  opacity: 0.5;
  animation: fade 200ms;
}
.header {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
